langchain
langchain-groq
python-dotenv
pydantic
langchain-community#Provides document loaders/splitters
langchain-chroma#Connects LangChain to ChromaDB
sentence-transformers#Creates embeddings
chromadb